/judge/target/
/judge-manager/target/
/database/target/
/www/target/
/external-checker/target/
/judge-external-checker/target/
/judge-common/target/
/judge-commons/target/
/judge-classes/target/
/UnicoreChecker/target/
/.idea
