body {
	margin: 0; padding: 0;
	font: 1em  Verdana, 'Trebuchet MS', Arial, Sans-serif;
	background: #efeaf7 url(../images/backgr3.png);
        background-repeat: no-repeat;
	color: #0000FF;	
	text-align: left;		
}

a:link:hover, a:visited:hover {
	color: #4b00ff;
	text-decoration: none;
}

a:visited, a:link {
	text-decoration: none;
	color: #0000FF;
}

.jclock {
 		color: #0000FF;
		float: right;
        width: 172px;
        text-align: center;
        font: 0.9em  Verdana, 'Trebuchet MS', Arial, Sans-serif;
		padding: 0 20px 100px 0;
	}

#home h1 {	font-size: 1.3em;
		color: #0000bb;
		margin: 0 0 0 0;
		padding: 20px 0 0 0;
		text-align: center;
	}

#home h2 {	font-size: 1em;
		margin: 0;
		padding: 0;
		color: #0000bb;
		text-align: center;
	}

#page h1 {
		font-size: 1.3em;
		color: #000000;
		padding: 40px 0 40px 0;
		text-align: center;
	}

.logo {
        position: absolute;
        left: 90px;
        top: 8px;
}

#content {
		position: relative; 
		color: #000000;
		bottom: 4px;
		margin: 20px 0 0 0;
		padding: 0;	
		float: left;
		width: 70%;
		border: ridge #c5a7f2;
		border-width: 0 0 1px 0;
}

#content h1 {
		border: ridge #c5a7f2;
		padding: 0 0 20px 0;
		border-width: 0 0 1px 0;
		text-align: center;
}

#content h2  {
		text-align: left;
		font-size: 1.3em;
		padding: 10px 0 20px 0;
}

img { 	float: left; 
	margin: 10px 0 0 10px;
	padding: 20px 0 0 40px;
}

/* MENU */
#top_menu {
	float: left;
	width: 70%;
}

#top_menu ul {	
	height: 1.4em;
	bottom: 4px;
	padding: 2px;
	font: bold 1em 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	border: 1px ridge #c5a7f2;
	border-width: 1px;
	list-style: none;
    background: url(../images/bg_top1.png) repeat-x;
}

#top_menu ul li{
	position: relative;
	display: inline;
	float: left;
	padding: 0 20px 0 20px;
}

#top_menu ul li:hover {
    color: #4b00ff;
	text-decoration: none;
    background: url(../images/bg_top2.png) repeat-x;
}

#top_menu ul li.spacer {
	background: url(../images/divider.gif) repeat-y right top; 
	float: right;
}

#top_menu ul li.prawa {
	float: right;
}

#top_menu ul li a {
	display: block;
	text-decoration:none;
}

#left_menu ul {	
	margin: 35px 20px 0 10px; 
	padding: 0 10px 0 10px;
	float: left;
	font: bold 1em 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	width: 150px;
    border: none;
	list-style: none;
}

#left_menu ul li:hover{
	border-width: 0px 0px 0px 11px;
    border-color: #b287f2;
    margin-left: -4px;
}

#left_menu ul li {
	border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: #c5a7f2;
}

#left_menu ul li a {
	text-decoration:none;
	display:block;
	padding: 0.4em 1em;
	margin: 0;
	border: none;
}

#left_menu ul li a:link:hover,#left_menu ul li a:visited:hover {
	color: #4b00ff;
	text-decoration: none;
}

/* LOGINFORM */
.loginform {
width:300px;
margin:auto;
}

.loginform fieldset{
	padding:10px;
	border: none;
}

.loginform label{
display:block;
height:2em;
background-color:transparent;
padding:10px 10px 0;
}

.loginform input {
margin-right:20px;
border:1px solid #999999;
float:right;
clear:right;
background: #decff4;
}

.loginform input.guzik {
margin-right:20px;
margin: 0 40% 0 0;
border:1px solid #999999;
clear:right;
background: #decff4;
}

.loginform input:focus, .loginform input:hover {
    border:1px solid #333333;
}

.clear {
    clear:both;
    font-size:0;
    height:0;
}

/* PROFILFORM */
.profilform {
width:80%;
margin:auto;
}

.profilform fieldset{
	padding:10px;
	border: none;
}

.profilform label{
margin-top: 10px;
display:block;
height:2em;
float:left;
background-color:transparent;
padding: 0px;
}

.profilform label.seria {
    text-align: center;
    float: right;
    font-weight: bold;
    display: inline-block;
    color: #001188;
    height: auto;
    margin: 30px 0 0px 0px;
    padding: 5px;
    width: 98%;
    border: ridge;
    border-color: #decff4;
    border-width: 2px 2px 0px 2px;
    background: #decff4 url(../images/ui-bg_1x150.png) repeat-x;
}

.profilform input, select {
margin-right:20px;
margin-top: 12px;
border:1px solid #999999;
float:right;
clear:right;
width: 250px;
padding: 0px 1px;
background: #decff4 url(../images/ui-bg_highlight-hard_75_d7c5f2_1x20.png) repeat-x;
}

.profilform input.check {
margin-right:20px;
margin-top: 12px;
border:1px solid #999999;
float:right;
clear:right;
padding: 0px 0px;
background: #decff4 url(../images/ui-bg_highlight-hard_75_d7c5f2_1x20.png) repeat-x;
}

.profilform .captcha {
    margin-right:20px;
    float:right;
}

.profilform textarea {
margin-right:20px;
margin-top: 10px;
margin-bottom: 10px;
border:1px solid #999999;
float:right;
clear:right;
width: 250px;
overflow: auto;
padding: 0px 1px;
font: 0.8em  Verdana, 'Trebuchet MS', Arial, Sans-serif;
}

.bigHeight {
    height: 15em;
    background: #decff4 url(../images/ui-bg_1x150.png) repeat-x;
}

.smaHeight {
    height: 4em;
    background: #decff4 url(../images/ui-bg_highlight-hard_75_d7c5f2_1x50.png) repeat-x;
}

.profilform input.submit {
	margin: 10px 40%;
	float: none;
	width: 100px;
}

.profilform input.check {
	width: auto;
	float: right;
}

.profilform .error {
    margin-top: 20px;
    color:red;
    font-size:0.7em;
    float:right;
}

.profilform input:focus, .profilform input:hover, .profilform textarea:focus, .profilform textarea:hover {
border:1px solid #333333;
}

/* TABLES */
.profilform table {
	width: 90%;
	margin-right:auto;
	margin-left:auto;
	text-align: center;
    padding-bottom: 0px;
}

.profilform table tr:hover {
	background: #f6f6f6;
}

.profilform table.pagingrid tr:hover {
	background: transparent;
}

.profilform table th {
    color: #000;
	background: #d4abff url(../images/th_bg1.png) repeat-x;;
	text-align: center;
	font-weight: bold;
    padding: 1px;
}

.linia1 {
    background: #d7c1fe;
	
}

.linia2 {
	background: #e1d4f6;
}

.col1 {
	text-align: left;
    margin: 0px 1px 0px 1px;
    padding-left: 5px;
    width: 70%;
}

.col2 {
	width: 50px;
    margin: 0px 1px 0px 1px;
}

.paginator {
	text-align: center;
    background: url(../images/pagin.png) center;
    width: 305px;
    margin: 0px auto;
    padding: 0px;
}

.pagingrid {
	text-align: center;
    background: none;
    width: 90%;
    padding: 0px;
    margin: 0px auto;
}

.profilform.pagingrid table:hover {
	background-color: transparent;
}

img.lewy {
    padding: 0px;
    border: none;
    float: right;
    margin: 0px auto 0px 100%;
}

img.prawy {
    padding: 0px;
    border: none;
    float: left;
    margin: 0px 100% 0px auto;
}

.paginator a {
    color: #000;
    font-weight: bold;
}

.act a {
    color: #0000ff;
}

.paginator a:hover {
    color: #4b00ff;
    font-weight: bold;
}

.paginator tr:hover {
    background: url(../images/pagin.png) center;
}

.pagingrid tr:hover {
    background: none;
}
/* QFORM */
.qform {
width:70%;
margin:auto;
text-align: left;
}

.qform fieldset{
	padding:10px;
	border: none;
}

.qform label{
display:block;
height:2em;
background-color:transparent;
padding:10px 10px 0;
}

.qform input {
margin-right:20px;
margin: 20px 40% 20px 0;
border:1px solid #999999;
float:right;
clear:right;
background: #decff4;
}

.qform input.topic {
margin: 0 0 0 0;
border:1px solid #999999;
width: 50%;
float:right;
clear:right;
background: #decff4;
}

.qform select {
border:1px solid #999999;
width: 51%;
float:right;
clear:right;
background: #decff4;
}


.qform textarea {
margin-right:20px;
margin-top: 10px;
border:1px solid #999999;
float:right;
clear:right;
width: 90%;
height: 70px;
background: #decff4;
}

.qform input:focus, .qform input:hover, .qform select:hover, .qform select:focus {
border:1px solid #333333;
}

.qform textarea:focus, .qform textarea:hover {
border:1px solid #333333;
}

/* SENDFORM */
.sendform {
width:70%;
margin:auto;
}

.sendform fieldset{
	padding:10px;
	border: none;
}

.sendform label{
display:block;
height:2em;
background-color:transparent;
padding:10px 10px 0;
}

.sendform input {
border:1px solid #999999;
width: 100px;
margin: 0 40% 20px 0;
float:right;
clear:right;
background: #decff4;
}

.sendform input.file {
border:1px solid #999999;
float:right;
clear:right;
margin: 0;
width: 90%;
background: #decff4;
}

.sendform textarea {
border:1px solid #999999;
float:right;
clear:right;
width: 90%;
height: 150px;
margin: 20px 0 20px 0;
background: #decff4;
}

.sendform select {
border:1px solid #999999;
width: 30%;
float:right;
clear:right;
background: #decff4;
}

.sendform input:focus, .sendform input:hover, .sendform textarea:focus, .sendform textarea:hover, .sendform select:focus, .sendform select:hover, .sendform input#file:focus, .sendform input#file:hover {
border:1px solid #333333;
}
/* RICH SKIN CSS */
.rich-calendar-button  {
    display: block;
    float: right;
    clear: right;
    margin: -20px 0 0 0;
    padding: 0px;
}

.rich-calendar-header {
	background-color: #bb97f2;
}

.rich-calendar-tool {
	vertical-align: middle;
	text-align: center;
	width: 20px;
	height: 22px;
	background-color: #bb97f2;
	font-weight: bold;
	color: #000;
}

.rich-calendar-month {
	vertical-align: middle;
	text-align: center;
	height: 22px;
	background-color: #bb97f2;
	font-weight: bold;
	color: #000;
	white-space: nowrap;
}

.rich-calendar-boundary-dates {
	color: #A0A0A0;
}
.profilform table td.rich-calendar-spinner-input-container {
        background-color: #efeaf7;
        margin: 0px;
        padding: 0px;
        width: 5px;
        text-align: center;
}

.profilform table.rich-calendar-spinner-input-container {
        margin: 0px;
        padding: 0px;
}

.profilform input.rich-calendar-spinner-input {
		width: auto;
        margin: 0px;
        padding: 0px;
        text-align: center;
}

.profilform table td.rich-calendar-spinner-buttons {
		width: 2px;
        margin: 0px;
        padding: 0;
        text-align: center;
}

.profilform table td.rich-calendar-spinner-up {
        margin: 0px;
        padding: 0px;
        text-align: center;
}

.profilform table td.rich-calendar-spinner-down {
        margin: 0px;
        padding: 0px;
        text-align: center;
}

.profilform table.rich-calendar-time-layout-fields {
    background-color: #efeaf7;
    margin: 0px;
    padding: 0px;
}

.profilform.rich-calendar-time-layout-fields:hover {
    background-color: #efeaf7;
}

.profilform table td.rich-calendar-time-layout-fields:hover {
    background-color: #efeaf7;
}

.profilform table td.rich-calendar-time-layout-ok {
    background-color: #efeaf7;
}

.profilform table td.rich-calendar-time-layout-ok:hover {
    background-color: #efeaf7;
}

.profilform table td.rich-calendar-time-layout-cancel {
    background-color: #efeaf7;
}

.profilform table td.rich-calendar-time-layout-cancel:hover {
    background-color: #efeaf7;
}

.profilform table td.rich-calendar-spinner-input-container {
        background-color: #efeaf7;
}

.profilform table.rich-calendar-spinner-input-container {
        margin: 0px;
}

tbody {
    margin: 0px;
    padding: 0px;
}

.profilform table td.rich-calendar-spinner-input-container:hover {
        background-color: #efeaf7;
}

.rich-calendar-cell-size {
	height: 22px;
	width: 31px;
}

.rich-calendar-week {
      background-color: #faf8e9;
      color: #2181ff;
}

.rich-calendar-select {
	background-color: #224986;
	color: #FFFFFF;
	font-weight: bold;
}

.welcomeClass{
    float:right;
    font-size:11px;
    width: 16%;
    margin-right:5%;
    color:#000;
}
